<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lubo.comp3200.context_recognition_user_test" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name=".ActivityRecognitionService"
            android:exported="false" />
        <service
            android:name=".WeatherRecognitionService"
            android:exported="false" />
        <service
            android:name=".TestService"
            android:exported="false" />
        <service
            android:name=".ReceiveTransitionsIntentService"
            android:exported="false" />

        <receiver android:name=".AlarmReceiver" >
            <intent-filter>
                <action android:name="com.lubo.comp3200.context_recognition_user_test.MORNING_ALARM" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.lubo.comp3200.context_recognition_user_test.NOON_ALARM" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.lubo.comp3200.context_recognition_user_test.AFTERNOON_ALARM" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.lubo.comp3200.context_recognition_user_test.EVENING_ALARM" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.lubo.comp3200.context_recognition_user_test.NIGHT_ALARM" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.lubo.comp3200.context_recognition_user_test.TIME_ALARM" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddContext"
            android:label="@string/title_activity_add_context"
            android:parentActivityName=".Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lubo.comp3200.context_recognition_user_test.Main" />
        </activity>
        <activity
            android:name=".ViewContexts"
            android:label="@string/title_activity_view_contexts"
            android:parentActivityName=".Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lubo.comp3200.context_recognition_user_test.Main" />
        </activity>
        <activity
            android:name=".IndividualContextView"
            android:label="@string/title_activity_individual_context_view"
            android:parentActivityName=".ViewContexts" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lubo.comp3200.context_recognition_user_test.ViewContexts" />
        </activity>
    </application>

</manifest>
